<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            <%= title %>
        </title>
        <% include head.ejs %>
    </head>
    <body class='<%= pageClass %>'>
        <div class="container">
            <div class="masthead">
                <div class="logo">
                    <img src="img/logo.svg" alt="" />
                    <div id="red">Red</div>
                    <div id="rocket">Rocket</div>
                    <div id="down">Down</div>
                </div>
                <div class="tag">
                    fictional LEGO<br/>
                    for a fictional world
                </div>
            </div>
            <div class="main">
                <% include nav.ejs %>
            </div>
        </div>
    </body>
</html>
